.bot-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  background-color: #2a2a2a;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  /* Abstand nach unten, wenn gewünscht */
  margin-bottom: 5px;

  &:hover {
    background-color: #00ff99;
    color: #121212;
  }

  &.selected {
    background-color: #00ff9971;
    color: #ffffff;
  }
  &.selected:hover {
    background-color: #00ff99;
    color: #121212;
  }

  .custom-checkbox-indicator {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
  }

  /* Wenn Bot ausgewählt, Checkbox weiß gefüllt */
  &.selected .custom-checkbox-indicator {
    background-color: #fff;
    border-color: transparent;
  }

  .bot-id {
    color: #a8a8a8;
    font-size: 0.9em;
  }

  .bot-name {
    flex: 1; /* füllt den Platz zwischen ID und Icons */
  }

  .edit-icon, .delete-icon {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
  }

  .edit-icon:hover, .delete-icon:hover {
    transform: scale(1.1);
  }
}
