<div class="bot-container">
  <div *ngIf="!editing" class="bot-display">
    <span class="bot-name">{{ bot.name }}</span>
    <div class="bot-actions">
      <button class="btn-edit" (click)="enableEdit()">Edit</button>
      <button class="btn-delete" (click)="confirmDelete()">Delete</button>
    </div>
  </div>
  <div *ngIf="editing" class="bot-edit">
    <input [(ngModel)]="newName" class="bot-input" />
    <div class="bot-actions">
      <button class="btn-save" (click)="saveName()">Save</button>
      <button class="btn-cancel" (click)="editing = false">Cancel</button>
    </div>
  </div>
</div>
