<div>
    <div *ngIf="!editing">
      <span>{{ group.name }}</span>
      <button (click)="enableEdit()">Edit</button>
      <button (click)="confirmDelete()">Delete Group</button>
      <ul>
        <li *ngFor="let bot of group.bots">{{ bot.name }}</li>
      </ul>
    </div>
    <div *ngIf="editing">
      <input [(ngModel)]="newName" placeholder="Gruppenname" />
      <!-- Hier könnte eine Schnittstelle zum Hinzufügen/Entfernen von Bots ergänzt werden -->
      <button (click)="saveGroup()">Save</button>
      <button (click)="editing = false">Cancel</button>
    </div>
  </div>
  