<div class="container">
  <app-bot-list (botSelectionChanged)="onBotSelectionChanged($event)"
                (editBot)="openBotEditModal($event)"
                (fileBot)="openFileModal($event)"
                (openGroups)="openGroupsModal()"
                class="bot-list">
  </app-bot-list>
  <app-terminal class="terminal"></app-terminal>
</div>

<!-- Modale Dialoge, die per *ngIf gesteuert werden -->
<app-bot-edit-modal *ngIf="showBotEditModal" (closeModal)="showBotEditModal = false"></app-bot-edit-modal>
<app-groups-modal *ngIf="showGroupsModal" (closeModal)="showGroupsModal = false"></app-groups-modal>
<app-file-modal *ngIf="showFileModal" (closeModal)="showFileModal = false"></app-file-modal>
