.app-container {
    display: flex;
    height: 100vh; /* Volle Höhe des Viewports */
  }
  
  .left-panel {
    width: 30%;
    padding: 1rem;
    border-right: 1px solid #ccc;
    overflow-y: auto;
  }
  
  .right-panel {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
  }
  