.bot-list {
  width: 100%;
  height: 50%;
  background-color: transparent;
  padding: 10px;
  overflow-y: auto;

  h2 {
    margin-bottom: 15px;
    color: #00ff99;
    font-size: 2em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 8px;
  }
}
