<div class="bot-list">
  <h2>Bots</h2>
  <ul>
    <li *ngFor="let bot of bots">
      <label class="custom-checkbox" [class.selected]="bot.selected">
        <input type="checkbox" class="bot-checkbox" [(ngModel)]="bot.selected" (change)="onBotSelectionChange(bot)" />
        <span class="custom-checkbox-indicator"></span>
        <span class="bot-name">{{ bot.name }}</span>
        <div class="right-section">
          <span class="bot-id">{{ bot.id }}</span>
          <span class="edit-icon" (click)="openBotEditModal(bot)">
            <!-- SVG für Edit Icon -->
            <svg width="16" height="16" viewBox="0 0 24 24">
              <path fill="#e0e0e0" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a1.003 1.003 0 0 0 0-1.42l-2.34-2.34a1.003 1.003 0 0 0-1.42 0l-1.83 1.83 3.75 3.75 1.84-1.82z" />
            </svg>
          </span>
          <span class="file-icon" (click)="openFileModal(bot)">
            <!-- SVG für File Icon -->
            <svg width="16" height="16" viewBox="0 0 24 24">
              <path fill="#e0e0e0" d="M14 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8l-6-6zM13 9V3.5L18.5 9H13z" />
            </svg>
          </span>
        </div>
      </label>
    </li>
  </ul>
  <button id="gruppen-btn" (click)="openGroupsModal()">Gruppen</button>
</div>
